body {
    background: #fff;
}

a{
    color: #000;
}

a:hover {
   text-decoration: none;
}

.titulo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.titulo2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}
.img_card{
    height: 250px;
}

.alert-info {
    margin: 0 auto;
}

#btnConsultar{
    height: 40px;
}

#btnRefresh{
    margin-left: 5px;
    height: 40px;
}

#cedula_buscar {
    height: 40px;
    margin: auto 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.agregar button {
    height: 40px;
}




