﻿body {
    background: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    font-family: 'Marmelad', sans-serif;
    margin-left: 10px;
}

.logo:hover{
    color: #e0f7fa;
}

h1 {
    color: #78909c;
    font-weight: bold;
    font-size: 50px;
}

.titulos2 {
    color: #78909c;
    font-weight: bold;
    font-size:40px;
}

.nav {
    background: #78909c;
}

.page-footer {
    background: #546e7a;
}

.img_car{
    height: 180px;
}

.card_menu{
    border-top-left-radius: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 120px;
    height:180px;
}

.menu_link{
    color: #90caf9;
    font-weight: bold;
}
